#Editor_ctl09_ctl00" .header {font-family:Arial,helvetica,sans-serif;font-weight:bold;text-align:center;color:#000000;}
.ajax__htmleditor_quickformatting_header {font-family:Arial,helvetica,sans-serif;font-weight:bold;text-align:center;color:#000000;}
.ajax__htmleditor_quickformatting_item td  {font-family:Arial,helvetica,sans-serif; font-size:10pt;}
.ajax__htmleditor_quickformatting_item th  {display:none;} /* display:none */
.ajax__htmleditor_quickformatting {color:#000000;}
