

body 
{
    font-family: Arial, Sans-Serif;
    background-color: #fff;
}
.normal
{
   font-size: 11pt;
   font-style:normal;
   font-weight: bold;
   color: #484848;
}
.red
{
    font-size: 11pt;
    font-weight:bold;
    color:Red;
}
.black
{
    font-size: 11pt;
    font-weight:bold;
    font-style:italic;
    color:#000;
}

.red1
{
    font-size: 14pt;
    font-weight:bold;
    color:Red;
}
.black1
{
    font-size: 14pt;
    font-weight:bold;
    color:#000;
}
.black2
{
    font-size: 11pt;
    font-weight:bold;
    color:#000;
}
a:link { 
         color: #0066cc;
         text-decoration: none;
         font-size: 13pt;
            font-weight:bold;
         }



